@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-hover: #dc2626;

  --hover-background: #fee2e2;
  --background: #f8fafc80;
  --stroke: #e2e8f0;

  /* H2 */
  --heading2-size: 30px;
  --heading2-height: 140%;
  --heading2-weight: 800;

  --font-base: Inter;
}

body {
  font-family: var(--font-base);
  background: var(--background);
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: var(--font-base);
  font-size: var(--heading2-size);
  height: var(--heading2-height);
  font-weight: var(--heading2-weight);
}

.layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
}

.main {
  max-width: 100%;
  min-height: 1024px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
